<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Archives</title>
</head>
<!---
<style>
body{
background-color:yellow;
}
.title {
    padding: 20px 0px 0px 0px;
    font-size: 55;
    background-color:cyan
    }
    .loveCodingP {
    padding: 20px 0px 0px 0px;
    font-size: 35;
    }
table{
font-size: 40;
}
</style>
-->
<body>
<img src="static/logo.png" height="110" width="300">

<br><br>
  <td id="links"><a href="home">Home</a></td>
<td id="links"><a href="archives">Archives</a></td>
<td id="links"><a href="profile">Profile</a></td>
<td id="links"><a href="logout">Logout</a></td>
<div class="title">
    <h1 align="center">Archives</h1>

</div>
<div class="P1">
<p align="center">We know you love our coding questions, so if you miss any of them,
    you can find them here!
    Last weeks questions are here!  You can even answer them!</p>
<br>

    </div>
<table border="19" width="1200" align="center">

    <tr>
        <th>Date</th>
        <th>Questions</th>
    </tr>
    {% for question in summary %}
    <tr>
        <td>{{ question[2] }}</td>
        <td><a href="question?id={{question[0]}}"> {{ question[1] }}</a></td>
    </tr>
    {% endfor %}

</table>
</body>
</html>
