<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
      <link href="static/styles.css" rel="stylesheet">

    <title>Home Page</title>
</head>


<body>

<img src="static/logo.png" height="110" width="300">

<br><br>

{% include 'links.html' %}

<br><br><br><br>
<p1><b>What coding language is typically used with HTML?</b>
</p1>

<br><br><br>

   <button id="answer-button">
       Click Here to Answer!
   </button>

<br><br><br><br><br><br>

   <div id="About">
       <b>About Us:</b> <br><br> Girls Who Code is a national non-profit organization leading the movement to inspire,<br>
       educate, and equip girls with the computing skills to pursue 21st century opportunities.<br>
       We are the Wellesley Girls Who Code Chapter.<br>
       For our final impact project we decided to make a website to help people learn about coding.
   </div>

<br><br><br><br><br><br><br><br><br>

 <p4>  © 2017 Girls Who Code - Wellesley Chapter </p4>
   </body>


</html>
