<!DOCTYPE html>

<html>
<head>

<title> Question of the Day:
    <br/>
    <br/>
</title>

</head>
<body>
<body style="color:CornflowerBlue;"></body>
Question of the Day:
{{question}}
<br/>
Enter your answer here:
<br/>
<br/>


<form action="answers" method="post">
    {% for answer in answers %}
        {{answer[1]}} <input type="radio" name="answer" value="{{answer[3]}}"> {{answer[2]}} <br>
    {% endfor %}
    <input class="btn btn-default" type="submit" value="Check Answer">
      </form>




</body>

 <br/>
<br/>

</html>





